
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@model IEnumerable<AspMVCFirst.Models.Movie>
<table width="100%">
    <tr>
        <th> 电影名称 </th>
        <th> 上映日期 </th>
        <th> 电影类型 </th>
        <th> 电影票价 </th>
        <th> 电影分级 </th>
        <th> 操作 </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td> <label>@item.Title</label> </td>
    <td> <label>@item.ReleaseDate</label> </td>
    <td> <label>@item.Genre</label> </td>
    <td> <label>@item.Price</label> </td>
    <td> <label>@item.Rating</label> </td>
   
</tr>   }
</table>

